/* moviedesc.css */

.movie-description-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.blured-backdrop {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  overflow: hidden;
  /* filter: blur(2.5px); */
  opacity: 50%;
  background-position-x: center;
}
.backdrop {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.backdrop img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.movie-infos {
  padding: 10px;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.movie-ids h3 {
  margin: 0;
  font-size: clamp(20px, 3.6vw, 36px);
  font-weight: bold;
}
.movie-infos .movie-ids p {
  margin-top: 5px;
}
.movie-ids p {
  font-size: 2.4vw;
  color: #fff;
}

.movie-ids span {
  font-style: italic;
}

.watch-button {
  z-index: 2;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  background-color: rgb(151, 0, 131);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  padding: 5px;
  border-radius: 10px;
}

.watch-button.active {
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.589);
}
.watch-button:hover {
  background-color: rgb(73, 8, 116);
}
.watch-button p {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bolder;
  width: min-content;
}
.watch-button img {
  border-radius: 30px;
  width: 30px;
  height: auto;
}

.select-season {
  margin-top: 20px;
}

.select-season select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid hsla(0, 0%, 0%, 0.822);
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 0.822);
  color: #f5ecec;
}

.season-details {
  margin-top: 20px;
}

.season-details h2 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.episode {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: hsla(0, 0%, 0%, 0.822);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #fff7f7;
}

.episode:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.episode .episode-image {
  width: 180px;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}

.episode:hover .episode-image {
  transform: scale(1.1);
}

.episode .episode-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.episode .episode-details span.text {
  width: 200px;
}
.episode .episode-details .text {
  padding: 5px;
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  white-space: wrap;
}
.sections-container {
  border-radius: 10px;
  background-color: hsla(0, 0%, 0%, 0.822);
  margin: 10px;
  padding: 10px;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.section {
  cursor: pointer;
  width: 100%;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  border: 1px solid rgba(101, 101, 223, 0.589);
}
.movie-description-page .section:hover {
  box-shadow: 0px 0px 5px 5px rgba(101, 101, 223, 0.589);
}
.section.active {
  background-color: rgb(4, 4, 99);
}

.overview p {
  font-size: 16px;
  color: #fff1f19d;
}
.overview {
  margin-top: 10px;
  padding: 10px;
  background: hsla(0, 0%, 0%, 0.404);
  /* background: hsla(239, 91%, 39%, 0.11); */
  backdrop-filter: blur(12px);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
}
p.title {
  padding: 2px 10px;
  width: fit-content;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 20px;
  background: linear-gradient(
    90deg,
    hsla(0, 100%, 50%, 0.534),
    hsla(0, 0%, 0%, 0)
  );
}
.show-more-toggle {
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  margin: 5px;
  color: rgba(85, 149, 223, 0.596);
}
.clips {
  border-radius: 8px;
  backdrop-filter: blur(12px);
  margin-top: 10px;
  width: 100%;
  height: auto;
}
.clip {
  padding: 5px;
  border-radius: 20px;
  width: 30.3%;
  height: auto;
}
.clip .img,
.clip.span {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.select-season {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.select-season div {
  width: auto;
}
.episode .episode-details .airdate {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

#player {
  margin-top: 20px;
}

.loading-animation {
  cursor: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-ids.extra {
  background-color: hsla(0, 0%, 0%, 0.822);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 12px;
}
.movie-ids.extra .item {
  margin: auto;
  border-radius: 12px;
  width: fit-content;
  padding: 10px;
}
.movie-ids.extra .item div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.movie-ids.extra .item div p {
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.genres {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.genres p {
  /* background-color: hsl(0, 0%, 0%); */
  color: hsl(0, 0%, 100%);
  font-size: small;
  font-weight: bold;
  padding: 5px 10px;
  /* box-shadow: hsla(0, 0%, 100%, 0.767) 0px 1px 13px 0px; */
  white-space: nowrap;
}
.clip span.type {
  font-size: x-small;
  position: absolute;
  color: white;
  background: black;
  padding: 5px 10px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
.genres {
  margin-bottom: 10px;
}

.backdrop .releaseDate,
.backdrop .rating {
  padding: 7px 15px;
  font-size: medium;
  font-weight: bold;
}

.watchEpisode {
  position: fixed;
  overflow: scroll;
  z-index: 2;
  color: white;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.555);
  backdrop-filter: blur(7px);
}
.watchEpisode .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  width: 100%;
}

.allEpisodesButton {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.watchEpisode span {
  text-overflow: unset;
  overflow: visible;
}

.watchEpisode .episode {
  width: 70%;
}
.watchEpisode .episode .text {
  padding: 15px;
  /* width: 90%; */
}
@media screen and (max-width: 768px) {
  .airdate {
    font-size: 14px;
  }
  .episode .episode-details .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 568px) {
  .watch-button {
    width: 30%;
  }
  .watch-button p {
    font-size: medium;
  }
  .episode .episode-details .text {
    font-size: 14px;
  }
  .episode .episode-details span.text {
    width: 100px;
  }
}
@media screen and (max-width: 590px) {
  .watchEpisode .episode {
    width: 90%;
  }
}
.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
.progressBar div {
  height: 100%;
  background-color: red;
}
