header {
  z-index: 5;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: linear-gradient(
    90deg,
    hsla(240, 40%, 6%, 0.514),
    hsla(230, 96%, 9%, 0.555)
  );
  backdrop-filter: blur(2px);
  padding: 5px 10px;
}

.site-name h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(99, 87, 212, 0.836) 0%,
    rgba(228, 50, 50, 0.733) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar svg {
  font-size: xx-large;
  color: white;
}
.navbar svg:hover {
  transform: scale(1.5);
}
.main-navbar *:hover {
  transform: scale(1.25);
  transition: transform 0.3s ease-in-out; /* Add transition for smoother effect */
}

@media screen and (max-width: 700px) {
  .site-name h1 {
    font-size: 2rem;
  }
}
