@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: rgba(10 10 18);
}

.app {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.placeholder-content {
  opacity: 1 !important;
  position: absolute !important;
  margin: 50% 20%;
}

@media (hover: hover) and (pointer: fine) {
  .slick-list {
    scrollbar-width: none;
  }
}

.loading {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
 }
 