.label {
  font-size: medium;
  padding: 0 0.5em;
}

.movie {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex-direction: column;
  position: relative;
  width: 20%;
}

.title p {
  margin: 5px;
}

.title {
  transition: all 0.3s ease-in;
  max-width: 100%;
  white-space: nowrap;
}

/* 
.title:last-child {
  white-space: normal;
  position: absolute;
  bottom: 0;
  opacity: 0;
} */

/* .title:hover,
.title:hover~.title {
  opacity: 1;
} */

/* .title:has(~ .title:hover),
.title:hover:has(~ .title) {
  opacity: 0;
} */

.shadow {
  transition: all 0.5s ease-in;
  opacity: 0;
  width: 100%;
  height: 20%;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0), var(--secondary));
}

/* 
.movie:has(.title:hover) .shadow {
  opacity: 1;
} */

.title p {
  text-overflow: ellipsis;
}


.poster {
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
}

.poster .lazyImage {
  aspect-ratio: 135/202;
}

.badge {
  transition: all 0.5s ease-in;
  font-weight: bolder;
  font-size: x-small;
  position: absolute;
  z-index: 1;
  border: 1px var(--accent) solid;
  padding: 0.5em 7%;
  border-radius: 8px;
  margin: 6px;
  background: hsla(0, 0%, 0%, 1);
  color: hsl(252, 87%, 91%);
}

.badge.badge.autoHide {
  opacity: 0;
}

.poster:hover .badge.autoHide {
  opacity: 1;
}

.mediaType {
  top: 0;
  right: 0;
}

.badge.save {
  bottom: 0;
}

.rating {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: gold;
  bottom: 0;
  right: 0;
}

.rating svg {
  font-size: small !important;
}

.date {
  top: 0;
  left: 0;
}

.carousel {
  overflow: hidden;
  position: relative;
}

.prev,
.next {
  color: white;
  border: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.prev {
  animation-name: pointingLeft;
  left: 0;
  background: linear-gradient(90deg, black, transparent);
}

.next {
  animation-name: pointingRight;
  background: linear-gradient(90deg, transparent, black);
  right: 0;
}

.keen-slider {
  position: relative !important;
}

@keyframes pointingLeft {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(-20%);
  }
}

@keyframes pointingRight {
  0% {
    transform: translateX(20%);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(20%);
  }
}

@media screen and (max-width: 542px) {

  .prev svg,
  .next svg {
    font-size: medium;
  }
}