header {
  z-index: 1;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  padding: 0.5rem 2%;
}

.siteName {
  font-weight: 700;
  font-size: 1rem;
}

.siteLogo {
  width: 3rem;
}

.themeSwitcher {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  padding: 5px 10px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: var(--border-color);
  z-index: 1;
}
.lightButton,
.darkButton {
  animation: slideToCenter 0.7s;
  transition: all 0.7s;
}
:root[data-theme="light"] .darkButton,
:root[data-theme="dark"] .lightButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideToRight 0.7s;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}
@keyframes slideToRight {
  from {
  }
  to {
    transform: translate(100%);
  }
}
@keyframes slideToCenter {
  from {
    transform: translate(-100%, 100%);
  }
  to {
  }
}

.headerLeftSide {
  gap: 10px;
}

.MenuSharpIcon {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid hsl(from var(--text) h s l / 0.5);
  position: relative;
  z-index: 1;
}

.MenuSharpIcon path {
  color: currentColor;
  transition-duration: 0.5s;
  transform-origin: center;
}

.MenuSharpIcon.active path {
  color: red;
}

.MenuSharpIcon.active path:first-child {
  transform: translate(100%);
}
.MenuSharpIcon.active path:nth-child(2) {
  transform: rotate(45deg);
}
.MenuSharpIcon.active path:nth-child(3) {
  transform: rotate(-45deg);
}
.MenuSharpIcon.active path:last-child {
  transform: translate(-100%);
}
.leftMenuWrapper {
  position: relative;
}

.leftMenu {
  position: absolute;
  aspect-ratio: 1;
  backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 2px var(--accent) solid;
  box-shadow: 5px 5px 20px 2px var(--text);
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
  transition: all 0.3s;
  top: 0;
  right: 0;
  background: hsla(253, 100%, 63%, 0.082);
  width: 0;
  opacity: 0;
  overflow: hidden;
  flex-wrap: wrap;
}

.leftMenuWrapper:has(.MenuSharpIcon.active) .leftMenu {
  animation: overflowAnimation 0.3s;
  width: 30vw;
  top: 100%;
  right: 100%;
  opacity: 1;
  overflow: visible;
}

.leftMenu a {
  font-size: 0;
  transition: all 0.3s;
  color: white;
  text-align: center;
  white-space: nowrap;
  background: var(--secondary);
  border-radius: 8px;
  padding: 10px;
  scale: 0;
  width: 100%;
}

.leftMenuWrapper:has(.MenuSharpIcon.active) .leftMenu a {
  font-size: unset;
  scale: 1;
}

.leftMenu a:hover {
  background: var(--primary);
  transform: scale(1.05);
}

@media screen and (min-width: 785px) {
  .leftMenu {
    width: 20vw;
  }
}

@keyframes overflowAnimation {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
