header {
  position: fixed;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  padding: 0.5rem 2%;
}

.siteName {
  font-weight: 700;
  font-size: 1rem;
}

.siteLogo {
  width: 3rem;
}

.themeSwitcher {
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  padding: 5px 10px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: var(--border-color);
}
.lightButton,
.darkButton {
  animation: slideToCenter 0.7s;
  transition: all 0.7s;
}
:root[data-theme="light"] .darkButton,
:root[data-theme="dark"] .lightButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideToRight 0.7s;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}
@keyframes slideToRight {
  from {
  }
  to {
    transform: translate(100%);
  }
}
@keyframes slideToCenter {
  from {
    transform: translate(-100%, 100%);
  }
  to {
  }
}

.headerLeftSide {
  gap: 10px;
}

.MenuSharpIcon {
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid hsl(from var(--text) h s l / 0.5);
  position: relative;
}

.MenuSharpIcon path {
  color: currentColor;
  transition-duration: 0.5s;
  transform-origin: center;
}

.MenuSharpIcon.active path {
  color: red;
}

.MenuSharpIcon.active path:first-child {
  transform: translate(100%);
}
.MenuSharpIcon.active path:nth-child(2) {
  transform: rotate(45deg);
}
.MenuSharpIcon.active path:nth-child(3) {
  transform: rotate(-45deg);
}
.MenuSharpIcon.active path:last-child {
  transform: translate(-100%);
}

.leftMenuWrapper:has(.MenuSharpIcon.active) .leftMenu {
  transform: translate(0);
}

.leftMenu {
  transition: transform 0.5s;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  height: 100vmax;
  z-index: 0;
  justify-content: center;
  background: hsla(253, 100%, 63%, 0.082);
  backdrop-filter: blur(12px);
  transform: translate(100%);
}
