.hero {
  position: relative;
}
.hero .movie {
  transition: 0.3s;
}
.hero .info {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2.5em;
}

.hero .title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2em;
  font-weight: bold;
  width: 80%;
}

.hero .date {
  margin-right: 5px;
  color: var(--text);
}
.hero .shadow {
  z-index: 0;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--background), transparent);
}

.hero .next,
.prev {
  background: none;
}

.options button {
  margin-top: 10px;
  border: 0;
  padding: 0.7em 1.5em;
  background: var(--secondary);
  border-radius: 8px;
  color: var(--text);
  font-weight: bold;
}