.hero {
  position: relative;
}

.hero .info {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  background: linear-gradient(90deg, rgb(0, 0, 0), transparent);
  padding-left: 50px;
}
.hero .info * {
  padding: 0.5em;
}
.hero .rating {
  align-items: center;
}
.hero .shadow {
  z-index: 0;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.582), transparent);
}

.hero .next {
  background: none;
}
