.homePage {
  overflow: hidden;
}

.movieSection {
  padding: 0.5em;
}


.movieSection:nth-child(2) {
  margin-top: 50vmin;
}

.movieSection:nth-child(2) {
  margin-top: 50vmin;
}

.label {
  width: fit-content;
  position: relative;
}