header {
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: rgba(10, 10, 18, 0.486);
  backdrop-filter: blur(5px);
}
.site-name {
  padding: 0 10px;
  width: auto;
}

.site-name h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(99, 87, 212, 0.836) 0%,
    rgba(228, 50, 50, 0.733) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.navbar {
  height: 100%;
  position: absolute;
  left: 50%;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-navbar img {
  width: 2rem;
}
.main-navbar img:hover {
  transform: scale(1.25, 1.25);
}

@media screen and (max-width: 700px){
  .site-name h1 {
    font-size: 2rem;
  }
}