.navbar {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main-navbar {
  border-radius: 0 18px 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  background-color: black;
  height: 50%;
  width: 50px;
}

.main-navbar img {
  width: 2rem;
}
.main-navbar img:hover {
  transform: scale(1.25, 1.25);
}

@media screen and (max-width: 970px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 50px;
    width: 100%;
    bottom: 0;
  }
  .main-navbar {
    border-radius: 18px 18px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    width: 30%;
  }
}
