.search {
  margin: 40px 0;
  width: 71%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 3rem;
  background: #0011ff2c;
}

.search input {
  padding: 10px 20px;
  flex: 1;
  border: none;
  font-size: large;
  font-family: var(--font-raleway);
  font-weight: 500;
  outline: none;
  color: #a1a1a1;
  background: none;
}

.search img {
  width: 25px;
  height: auto;
  cursor: pointer;
}
.search button {
  padding: 0 20px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .search {
    padding: 0;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}