.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  margin: 40px 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 3rem;
  background: #00000077;
  padding: 10px 20px;
}
.search input::placeholder {
  text-align: start;
}
.search input {
  text-align: center;
  width: 50%;
  flex: 1;
  border: none;
  font-size: large;
  font-family: var(--font-raleway);
  font-weight: 500;
  outline: none;
  color: #a1a1a1;
  background: none;
}

.search img {
  width: 25px;
  height: auto;
  cursor: pointer;
}
.search button {
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .search {
    width: fit-content;
  }
  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: auto;
  }
}
