@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root[data-theme="light"] {
  --text: hsl(252, 87%, 9%);
  --background: hsl(250, 100%, 87%);
  --primary: hsl(252, 100%, 31%);
  --secondary: hsl(0, 71%, 51%);
  --secondary: hsl(172, 99%, 30%);
  --accent: hsl(281, 100%, 22%);
}

:root[data-theme="dark"] {
  --text: hsl(252, 87%, 91%);
  --background: hsl(248, 83%, 7%);
  --primary: hsl(247, 98%, 33%);
  --secondary: hsl(270, 86%, 30%);
  --accent: hsl(281, 100%, 78%);
}
:root {
  --border-color: hsl(from var(--text) h s l / 0.5);
}

#root {
  overflow: hidden;
}
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  background: var(--background);
  font-family: "Inter";
  font-weight: 400;
  color: var(--text);
  transition: background 0.5s;
}

img {
  width: 100%;
}


html {
  font-size: 100%;
} /* 16px */



.flex {
  display: flex;
  align-items: center;
}


header {
  z-index: 1;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  padding: 0.5rem 2%;
}

.siteName {
  font-weight: 700;
  font-size: 1rem;
}

.siteLogo {
  width: 3rem;
}

.themeSwitcher {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  padding: 5px 10px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: var(--border-color);
  z-index: 1;
}
.lightButton,
.darkButton {
  animation: slideToCenter 0.7s;
  transition: all 0.7s;
}
:root[data-theme="light"] .darkButton,
:root[data-theme="dark"] .lightButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideToRight 0.7s;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}

.headerLeftSide {
  gap: 10px;
}

.MenuSharpIcon {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid hsl(from var(--text) h s l / 0.5);
  position: relative;
  z-index: 1;
}

.MenuSharpIcon path {
  color: currentColor;
  transition-duration: 0.5s;
  transform-origin: center;
}

.MenuSharpIcon.active path {
  color: red;
}

.MenuSharpIcon.active path:first-child {
  transform: translate(100%);
}
.MenuSharpIcon.active path:nth-child(2) {
  transform: rotate(45deg);
}
.MenuSharpIcon.active path:nth-child(3) {
  transform: rotate(-45deg);
}
.MenuSharpIcon.active path:last-child {
  transform: translate(-100%);
}
.leftMenuWrapper {
  position: relative;
}

.leftMenu {
  aspect-ratio: 1;
  backdrop-filter: blur(4px);
  width: 30vw;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  border: 2px var(--accent) solid;
  box-shadow: 5px 5px 20px 2px var(--text);
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 0.5em;
  transition: transform 0.3s, scale 1s, opacity 0.3s;
}

.leftMenuWrapper:has(.MenuSharpIcon.active) .leftMenu {
  background: hsla(253, 100%, 63%, 0.082);
  visibility: visible;
  opacity: 1;
  scale: 1;
  transform: translate(-100%, 100%);
}

.leftMenu a {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  background: var(--secondary);
  border-radius: 8px;
  padding: 10px;
}

.leftMenu a:hover {
  background: var(--primary);
  transform: scale(1.05);
}


.homePage {
  padding: 0.5em;
}
.carousel {
  overflow: hidden;
  position: relative;
}


.keen-slider {
  position: relative !important;
}
