.season-details.watch-page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sources-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sources-container {
  max-width: 90%; /* Adjusted */
  width: auto; /* Adjusted */
  display: flex;
  flex-direction: row;
  background-color: rgba(77, 44, 168, 0.801);
  border-radius: 30px;
  flex-wrap: wrap;
  justify-content: center; /* Added */
}
.sources-list .sources-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 10px;
  border-radius: 30px;
  width: 50%;
}

.sources-list .sources-container div:hover {
  background-color: rgba(26, 1, 73, 0.705);
}

.sources-list .sources-container div.active {
  background-color: rgba(26, 1, 73, 0.705);
}
.movie-not-found {
  border-radius: 10px;
  background-color: rgba(27, 26, 26, 0.527);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-not-found p {
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(155, 12, 12, 0.603);
  color: white;
  font-size: xx-large;
}
