.sources-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sources-list {
  max-width: 90%; /* Adjusted */
  width: auto; /* Adjusted */
  display: flex;
  flex-direction: row;
  background-color: rgba(77, 44, 168, 0.801);
  border-radius: 30px;
  flex-wrap: wrap;
  justify-content: center; /* Added */
}
.sources-container .sources-list div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border-radius: 30px;
  width: 50%;
}
.sources-container .sources-list .source-link p {
  padding: 10px;
  border-radius: 30px;
}
.sources-container .sources-list .sources-label {
  padding: 10px 0 15px 10px;
  margin-bottom: 5px;
  border-radius: 30px 30px 0 0;
  width: 100%;
  border-bottom: 1px black solid;
}

.sources-container .sources-list .source-link:hover {
  background-color: rgb(26, 1, 73);
}

.sources-container .sources-list .source-link.active p {
  background-color: rgb(26, 1, 73);
}
.movie-not-found {
  border-radius: 10px;
  background-color: rgba(27, 26, 26, 0.527);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-not-found p {
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(155, 12, 12, 0.603);
  color: white;
  font-size: xx-large;
}
.mirrors {
  padding-top: 10px;
  width: 100% !important;
}